/For_loop.py
/__pycache__
/directories.py
/directories.txt
/file.py
/file.txt
/file1.py
/file2.py
/function.py
/if_else.py
/libraries
/ping.py
/range.py
/strings.py
/sub_domains.txt
/tuple.py
/uniq_data.txt
/while.py